@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/********************************************************/
/* GLOBALS                                              */
/********************************************************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #001B36;
    --clr-primary-light: #DAE8FC;
    --clr-secondary: white;
    --clr-accent: #003569;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/********************************************************/
/* HEADER                                               */
/********************************************************/
.header {
    background-color: var(--clr-primary);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
}

.hamburger {
    display: none
}

.hamburger-line {
    display: block;
    width: 2.5em;
    height: .3em;
    margin: .5em auto;
    background-color: var(--clr-secondary);
    border-radius: 1em;
    transition: 0.3s;
}

.nav-menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.nav-items {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--clr-secondary);
    text-transform: uppercase;
    padding: 1em;
}

.nav-link:hover {
    background-color: var(--clr-accent);
    color: var(--clr-secondary);
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--clr-secondary);
}

@media (max-width: 600px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--clr-secondary);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5em 0;
    }

    .nav-link {
        color: var(--clr-primary);
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .hamburger-line1 {
        transform: translateY(.8em) rotate(45deg);
    }

    .hamburger.active .hamburger-line2 {
        opacity: 0;
    }

    .hamburger.active .hamburger-line3 {
        transform: translateY(-.8em) rotate(-45deg);
    }
}

/********************************************************/
/* HERO                                                 */
/********************************************************/
.hero {
    background-color: var(--clr-primary);
    background: url(../img/forest-medium.jpg);
    background-position: right;
    min-height: calc(80vh - 10rem);
    padding: 2em 0;
    text-align: center;
    color: var(--clr-secondary);
}

.hero h1 {
    text-transform: uppercase;
    font-size: clamp(5rem, 1.5rem + 5vw, 6rem);
    margin: 2em 0.5em 4em;
    font-weight: normal;
}

.rectangle {
    background-color: var(--clr-primary);
    padding: 2em 3em 4em;
}

.hero h3 {
    font-size: 2.75rem;
    font-weight: normal;
    padding: 1.25em;
}

.btn {
    color: var(--clr-primary);
    text-transform: uppercase;
    font-size: 2rem;
    background-color: var(--clr-primary-light);
    padding: 0.35em 0.85em;
    border-radius: 25px;
    bottom: 2em;
}

.btn:hover,
.btn:focus {
    background-color: var(--clr-accent);
    color: var(--clr-secondary);
}

/********************************************************/
/* VÄDERAPPEN                                           */
/********************************************************/
.weather-container {
    background-color: white;
    border: 1px solid var(--clr-primary);
    border-radius: 25px;
    width: 16em;
    margin: 2em auto;
    text-align: center;
}

.weather-display {
    background-color: var(--clr-accent);
    margin-bottom: 2.5em;
    padding: 0.5em;
}

/********************************************************/
/* FOOTER                                               */
/********************************************************/
footer {
    display: flex;
    background-color: var(--clr-primary);
    justify-content: center;
}

.social-link {
    fill: white;
    height: 2.25em;
    width: 2.25em;
    /* padding: 0.5em; */
    margin: 0.75em;
}